##### REMINDER: 
##### After editing the file run "dtf add -A" to add them, and "dtf commit" to commit
# Dotfiles
/**
!/.gitignore
!/.config/
!/.config/aliasrc
!/.config/sway/
!/.config/sway/*
!/.config/sway/wallpaper/
!/.config/sway/wallpaper/*
!/.config/X11/
!/.config/X11/xresources
!/.config/zsh/
!/.config/zsh/.zprofile
!/.config/zsh/.zshrc
!/.config/alacritty/
!/.config/alacritty/*
!/.config/waybar/
!/.config/waybar/*

