### Script from https://pgaskin.net/posts/git-dotfiles/
#
# After editing the file run "dtf add -A" to add them, and "dtf commit" to commit
#
### Dotfiles
/**
!/.gitignore
!/.config/
!/.config/sway/
!/.config/sway/**
